<!DOCTYPE html>
<html>
	<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	</head>
	<body>
		<h1> Welcome! You are logged in as {{request.user.username}}. </h1>

		<form>
		<input type="button" value="Log out" onClick="window.location.href='/accounts/logout/'">
		</form>

		<p> <a href="{%url 'new_post' %}" target='_blank'> New post </a> </p>
		<p> Your posts: </p>
		<ul>
		{% for post in own_posts %}
			<li> 
				<p> {{post.title}} </p>
				<p> status: {{ post.status }} </p>
				<p> <a href="{%url 'view_post' post.id %}" target='_blank'> View </a> 
				&nbsp <a href = "{%url 'edit_post' post.id %}" target='_blank'> Edit </a>
				&nbsp <a class='delete' href = "{%url 'delete_post' post.id %}" target='_blank'> Delete </a>
				</p>
			</li>
		{% empty %}
			<li>
			You don't have any posts yet. <a href="{%url 'new_post' %}" target='_blank'> Create your first one! </a>
			</li>
		{% endfor %}
		</ul>

		List of students (click to see individual posts):
		<ul>		
		{%for student_name, posts in student_posts.items %}
			<li> 
				<p class='student'> {{student_name}} </p>
				<ul style='display:none'>
				{% for post in posts %}
				<li> 
				<p> {{post.title}} </p>
				<p>
					<a href="{%url 'view_post' post.id %}" target='_blank'> View </a> 
					&nbsp <a href = "{%url 'edit_post' post.id %}" target='_blank'> Edit </a>
					{% if request.user.is_superuser %}
					&nbsp <a class='delete' href = "{%url 'delete_post' post.id %}" target='_blank'> Delete </a>
					{% endif %}
				</p>
				</li>
				{% empty %}
				<li>
				No posts yet
				</li>
				{% endfor %}
				</ul>
			</li>
		{% empty %}
			<li>
				There are currently no students.
			</li>
		{% endfor %}
		</ul>

	<script>
		$(document).ready(function(){
			$(".student").click(function(){
				$(this).next("ul").toggle();
			})
			$(".delete").click(function(e){
				e.preventDefault();
				if(confirm("Are you sure you want to delete this document?"))
					window.location.href = $(this).attr("href")
			})
		})
	</script>	

		
	</body>
</html>