<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Editor</title>

		<!-- MathJax -->
		<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
		<script>
			<!-- Render $...$ expressions with MathJax -->
			MathJax.Hub.Config({
				showProcessingMessages: false,
				tex2jax: { inlineMath: [['$','$'],['\\(','\\)']] }, 
			});
		</script>

		<!-- jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

	  <!-- Bootstrap -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

		<!-- Markdown -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Converter.min.js"></script>

		<!-- Sanitizer -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Sanitizer.min.js"></script>

		{% load staticfiles %}
		<script src="{% static "editor/editor.js" %}"></script>
	</head>

	<body>
		<form action="{%url 'submit_post' %}" method='post'>
			{% csrf_token %}
			{% if not title %}
			Title <input type='text' name='title' id='title'>
			{% else %}
			Title <input type='text' name='title' value='{{title}}' id='title'>
			{% endif %}
			<p>
			<!-- Make sure there is no space between {{content}} and <textarea> tag -->
			{% if content %}
			<textarea name='content' style="width:500px; height:200px" id="box">{{ content }}</textarea>
			{% else %}
			<textarea name='content' style="width:500px; height:200px" id="box"></textarea>
			{% endif %}		
			</p>
			{%if post_id %}
			<input type='hidden' name='post_id' value='{{post_id}}' id='post_id'>
			{% else %}
			<input type='hidden' name='post_id' value='' id='post_id'>
			{% endif %}
			<input type='button' value='render' id='render_button'>
			<input type='button' value='save' id='save_button'>
			<input type='button' value='submit' id='submit_button'>
			<p id='save_result'></p>
		</form>
		<!-- Live preview area for entry -->
  	<div id="preview"></div>
		<!-- Start live preview application -->
		<script>			
			var lp = new LivePreview("box", "preview", "render_button");
		</script>

  	<!-- Save (with ajax) and submit-->
  	<script>
  		$(document).ready(function(){
  			$("#save_button").click(function(){
  				if ($("#title").val() == '') alert('Title can not be empty.');
  				else{
    				var data = $("form").serialize();
    				$.post("{%url 'save_post' %}", data, function(result, status){
    					$("#save_result").show();
    					$("#save_result").html(status);
    					$("#save_result").fadeOut(2000);
    					$("#post_id").val(result.post_id);
    				})
    			}
  			})
  			$("#submit_button").click(function(){
  				if ($("#title").val() == '') alert('Title can not be empty.');
  				else{
  				if(confirm("Are you sure you want to submit your draft? Editing is not allowed after submission."))
    				$("form").submit();
  				}
  			})
  		})
  	</script>
	</body>
</html>



